/*elementlardagi marginlarni yo'qotadi*/
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgrey;
}

#bosh {
    background-color:chocolate;
    padding: 10px 0;
    margin: 0 auto;
    display: flex; /* #bosh ichidagi elementlarni vertikal markazga joylashtirish uchun */
    align-items: center; /* Elementlarni vertikal markazga joylashtiradi */
    position: sticky;
    top: 0;
    z-index: 1000; /* Boshqa elementlar ustida turishi uchun */
}

#bosh h1 {
    display: inline;
    margin: 0;
    padding: 0;
}
#bosh ul, #bosh li{
    display: inline;
    list-style-type: none;
    padding: 0 10px;
}
#bosh ul a{
    text-decoration: none;
    color: wheat;
    padding: 5px;
}

#bosh ul a:hover {
    background-color: brown;
    padding: 5px;
}

.site-name {
    display: inline-block;
    text-align: center;
    margin: 0px auto; /* Sayt nomi va menyu o'rtasida bo'sh joy */
    color: wheat;
    font-style: italic;
}

.bosh {
    margin: auto;
    padding: 5px auto;
}
.bosh {
    width: 80%;
    margin: 0 auto;
}

.bosh h1 {
    padding: 0 auto;
    margin: 0;
}

.menyu {
    width: 80%;
    margin: 0 auto;
    color: aliceblue;
}

#menyu {
    background-color:dimgray;
    margin: 0 auto;
    position: sticky;
    top: 56px; /* #bosh qismining taxminiy balandligi (padding + matn) */
    z-index: 999;
}
#menyu ul {
    margin: 0;
    padding: 0;
}

#menyu ul li{
    list-style-type: none;
    display: inline;
    padding: 0 8px;
}
.text_left {
    display: inline-block;
    margin: 0 2px;
    padding: 0px 20px;
    position: sticky;
    top: 56px; /* #bosh qismining taxminiy balandligi (padding + matn) */
    z-index: 999;
}

.text_left ol li{
    list-style-type: none;
    padding: 5x 20px;
    margin: 10px 2px;
}

.text_left ol li a{
    text-decoration: none;
    color: #000;
}

.text_left ol li a:hover{
    color: red;
}

#text {
    padding: 0 20px;
    margin: 10px 0;
    margin-right: 200px;
}
#text > p{
    padding: 10px 40px;
}

#menyu ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

#container {
    display: flex;
    margin: 0 auto;
    background-color: bisque;
}


.text_left ul li {
    list-style-type: none;
    padding: 10px 0;
    text-align: center;
}

.sarlavha {
    display: inline-block;
    width: 9em;
    text-align: center;
}

.sarlavha h2{
    margin-top: 5px;
    border-radius: 0 10px 10px 0;
    padding: 2px 6px;
}



dl dt, dl dd {
    padding: 5px 20px;
}

dl dt a, dl dd a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

dl dt a:hover, dl dd a:hover {
    text-decoration: underline;
}