/*elementlardagi marginlarni yo'qotadi*/
body, h1,h2,h3,ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgrey;
}

#bosh {
    background-color:chocolate;
    width: 100%;
    margin: 0 auto;
}

.bosh {
    width: 80%;
    margin: 0 auto;
}

.menyu {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

#menyu {
    background-color:dimgray;
    margin: 0 auto;
    width: 100%;
}

#menyu ul li{
    list-style-type: none;
    display: inline;
    padding: 10px 0;
}

#menyu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
}
#container {
    width: 100%;
    font-size: 17px;
    background-color: bisque;
    transition: margin-left 0.3s; /* Silliq ko'rinish uchun o'tish */
}
#conatiner.shifted {
    margin-left: 270px;
}

#sarlavha h2{
    margin: 10px 0;
    border-radius: 0 10px 10px 0;
    background-color: greenyellow;
    padding: 5px 5px;
    text-align: center;
}

#text {
    padding: 0 5px;
    margin: 10px auto;
}

#text p{
    padding: 5px 30px;
    margin: 5px 0;
    font-size: 17px;
}

#text ol li a{
    text-decoration: none;
    color: black;
}

#text ul li {
    padding: 5px 0;
}
.orqaga a {
    text-decoration: none;
    color: #333;
}

table {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #333;
    border-collapse: collapse;
}

table th,td {
    border: 1px solid;
}

#elementlar {
    display: flex;
}

#elementlar ul li{
    list-style-type: none;
    margin: 10px 40px;
    display: inline-block;
    padding: 25px 38px;
    border-radius: 15px;
    background-color: brown;
    text-align: center;
}

#elementlar ul li a {
    text-decoration: none;
    color: #eee;
}
#elementlar ul {
    margin: auto;
}



.menu {
    width: 250px;
    height: 100vh;
    position:absolute;
    overflow-y: auto;
    overflow: hidden;
    top: 0;
    background: dimgray;
    z-index: 1000;
    left: -250px; /* Menu yashirilgan holatda */
    transition: left 0.3s; /* Silliq ko'rinish uchun o'tish */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
.menu.active {
    left: 0; /* Menu ko'rinadigan holatda */
    position:relative;
  }

#menu h3 {
    padding: 2px 3px;
    margin: 2px 3px;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#menu ul li{   
      list-style-type: none;
  }
#menu ul {
      padding: 0;
      margin: 0;
  }
  
#menu ul li a {
      display: block;
      margin: 1px 0;
      color: #000; /* Dastlabki matn rangi */
      background-color: #f0f0f0; /* Dastlabki fon rangi */
      padding: 6px 25px;
      text-decoration: none;
    }
  
  /* Kursor ustiga kelsa */
#menu ul li a:hover {
      background-color: #33d3; /* Kursor ustiga kelsa fon rangi */
      color: #fff; /* Kursor ustiga kelsa matn rangi */
    }
  
    /* Bosilgan holat */
#menu  a:active {
      background-color: #0003d3 !important; /* Bosilgan holat fon rangi */
      color: #fff !important; /* Bosilgan holat matn rangi */
    }


  /* Kursor ustiga kelsa */
  div #menu ul li a:hover {
      background-color: #d3d3d3; /* Kursor ustiga kelsa fon rangi */
      color: #fff; /* Kursor ustiga kelsa matn rangi */
    }
  
    /* Bosilgan holat */
  #menu  a:active {
      background-color: #0003d3 !important; /* Bosilgan holat fon rangi */
      color: #fff !important; /* Bosilgan holat matn rangi */
    }

.sub-menu {
    display: none; /* Yashirilgan holatda */
    padding-left: 25px; /* Ichkariga siljitish */
    background-color: dimgray;
  }
  
.sub-menu li {
    margin: 0 0 1px 5px;
}