/*elementlardagi marginlarni yo'qotadi*/
body, h1, ul {
    margin: 0;
    padding: 0;
}

#bosh {
    background-color:chocolate;
    margin: 0 auto;
}

.bosh {
    width: 80%;
    margin: 0 auto;
}

.menyu {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

#menyu {
    background-color:dimgray; 
    margin: 0 auto;
}

div .menyu ul li{
    list-style-type: none;
    display: inline;
}

.menyu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
}

.body {
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.menu {
    width: 300px;
    height: 100%;
    background-color: dimgray;
    position:fixed;
    overflow-y: auto;
    top: 0;
    left: -300px; /* Menu yashirilgan holatda */
    transition: left 0.3s; /* Silliq ko'rinish uchun o'tish */
    padding-bottom: 15px;
}
  
.menu.active {
    left: 0; /* Menu ko'rinadigan holatda */
    position:relative;
  }

#menu h3 {
    padding: 2px 3px;
    margin: 2px 3px;
    color: #fff;
    display: inline-block;
}

div #menu ul li{   
      list-style-type: none;
      
  }
#menu ul {
      padding: 0;
  }
#menu ul li a {
      display: block;
      margin: 1px 0;
      color: #000; /* Dastlabki matn rangi */
      background-color: #f0f0f0; /* Dastlabki fon rangi */
      padding: 3px 25px;
      text-decoration: none;
    }
  
  /* Kursor ustiga kelsa */
div #menu ul li a:hover {
      background-color: #33d3; /* Kursor ustiga kelsa fon rangi */
      color: #fff; /* Kursor ustiga kelsa matn rangi */
    }
  
    /* Bosilgan holat */
#menu  a:active {
      background-color: #0003d3 !important; /* Bosilgan holat fon rangi */
      color: #fff !important; /* Bosilgan holat matn rangi */
    }

body {
    background-color: bisque;
}

#container {
    width: 100%;
    margin: 0 auto;
    font-size: 17px;
    overflow-y: auto;
    height: 100%;
}
#text p,h2,h3,img,table {
    padding: 2px 25px;
}
#text {
    padding: 10px 0;
    width: 90%;
    margin: 0 auto;
}
#text li {
    margin: 2px 20px;
}
#sarlavha h2{
    margin: 10px 0;
    border-radius: 0 10px 10px 0;
    background-color: greenyellow;
    padding: 5px 5px;
    text-align: center;
}

.sub-menu {
    display: none; /* Yashirilgan holatda */
    padding-left: 25px; /* Ichkariga siljitish */
    background-color: dimgray;
  }
  
.sub-menu li {
    margin: 0 0 1px 5px;
  }

.fa-book:before {
    content: "\f02d";
}




