/*elementlardagi marginlarni yo'qotadi*/
body, h1, ul {
    margin: 0;
    padding: 0;
}

#bosh {
    background-color:chocolate;
    margin: 0 auto;
    width: 100%;
}

.bosh {
    width: 80%;
    margin: 0 auto;
}

.menyu {
    width: 100%;
    margin: 0 auto;
}

#menyu {
    background-color:dimgray; 
    margin: 0 auto;
}

div .menyu ul li{
    list-style-type: none;
    display: inline;
}

#menyu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
}

.body {
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.menu {
    width: 250px;
    height: 100vh;
    background-color: dimgray;
    position:fixed;
    overflow-y: auto;
    top: 0;
    left: -250px; /* Menu yashirilgan holatda */
    transition: left 0.3s; /* Silliq ko'rinish uchun o'tish */
  }
  
.menu.active {
    left: 0; /* Menu ko'rinadigan holatda */
    position:relative;
  }

#menu h3 {
    padding: 2px 3px;
    margin: 2px 3px;
    color: #fff;
    display: inline-block;
}

#menu li{   
      list-style-type: none;
  }
#menu ul {
      padding: 0;
  }
#menu ul li a {
      display: block;
      margin: 1px 0;
      color: #000; /* Dastlabki matn rangi */
      background-color: #f0f0f0; /* Dastlabki fon rangi */
      padding: 2px 25px;
      text-decoration: none;
    }
  
  /* Kursor ustiga kelsa */
#menu ul li a:hover {
      background-color: #d3d3d3; /* Kursor ustiga kelsa fon rangi */
      color: #fff; /* Kursor ustiga kelsa matn rangi */
    }
  
    /* Bosilgan holat */
#menu  a:active {
      background-color: #0003d3 !important; /* Bosilgan holat fon rangi */
      color: #fff !important; /* Bosilgan holat matn rangi */
    }

body {
    background-color: bisque;
}

#container {
    margin: 0 auto;
    font-size: 17px;
    background-color: bisque;
    width: 100%;
}
#text p {
    padding: 2px 15px;
}
#sarlavha h2{
    margin: 10px 0;
    border-radius: 0 10px 10px 0;
    background-color: greenyellow;
    padding: 5px 5px;
    text-align: center;
}

.sayt {
    color: blue;
    text-align: right;
    margin: 0 auto;
}


.Izoh {
    border-radius: 4px;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    background-color: bisque;
}

.izoh  {
    margin-top: 5px;
    border-radius: 0 10px 10px 0;
    background-color: greenyellow;
    padding: 2px 6px;
    width: 5em;
    text-align: center;
}

.orqaga a {
    text-decoration: none;
    color: #333;
}

.sub-menu {
    display: none; /* Yashirilgan holatda */
    padding-left: 20px; /* Ichkariga siljitish */
    background-color: dimgray;
  }
  
.sub-menu li {
    margin: 0 0 1px 5px;
  }





