/*elementlardagi marginlarni yo'qotadi*/
body {
    margin: 0;
    padding: 0;
}

#bosh {
    background-color:chocolate;
    width: 100%;
    margin: 0 auto;
}

.bosh {
    width: 80%;
    margin: 0 auto;
}

.bosh h1{
    margin: 0;
}

.menyu {
    display: flex;
    margin: 0 auto;
}

.menyu ul {
    margin: 0;
    padding: 0;
}

#menyu {
    background-color:dimgray; 
    margin: 0 auto;
    width: 100%;
}

#menyu ul li{
    list-style-type: none;
    display: inline;
}

#menyu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 4px 10px;
    display: inline-block;
}



body {
    background-color: dimgray;
}

p {
    width: 95%;
    font-size: 17px;
    padding: 0 20px;
}
.body {
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.menu {
    width: 250px;
    height: 100vh;
    position:absolute;
    overflow-y: auto;
    overflow: hidden;
    top: 0;
    background: dimgray;
    z-index: 1000;
    left: -250px; /* Menu yashirilgan holatda */
    transition: left 0.3s; /* Silliq ko'rinish uchun o'tish */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
.menu.active {
    left: 0; /* Menu ko'rinadigan holatda */
    position:relative;
  }

#menu h3 {
    padding: 2px 3px;
    margin: 2px 3px;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#menu ul li{   
      list-style-type: none;
  }
#menu ul {
      padding: 0;
      margin: 0;
  }
  
#menu ul li a {
      display: block;
      margin: 1px 0;
      color: #000; /* Dastlabki matn rangi */
      background-color: #f0f0f0; /* Dastlabki fon rangi */
      padding: 6px 25px;
      text-decoration: none;
    }
  
  /* Kursor ustiga kelsa */
#menu ul li a:hover {
      background-color: #33d3; /* Kursor ustiga kelsa fon rangi */
      color: #fff; /* Kursor ustiga kelsa matn rangi */
    }
  
    /* Bosilgan holat */
#menu  a:active {
      background-color: #0003d3 !important; /* Bosilgan holat fon rangi */
      color: #fff !important; /* Bosilgan holat matn rangi */
    }


  /* Kursor ustiga kelsa */
  div #menu ul li a:hover {
      background-color: #d3d3d3; /* Kursor ustiga kelsa fon rangi */
      color: #fff; /* Kursor ustiga kelsa matn rangi */
    }
  
    /* Bosilgan holat */
  #menu  a:active {
      background-color: #0003d3 !important; /* Bosilgan holat fon rangi */
      color: #fff !important; /* Bosilgan holat matn rangi */
    }

.sub-menu {
    display: none; /* Yashirilgan holatda */
    padding-left: 25px; /* Ichkariga siljitish */
    background-color: dimgray;
  }
  
.sub-menu li {
    margin: 0 0 1px 5px;
}
  
#container {
    width: 100%;
    margin: 0 auto;
    font-size: 17px;
    background-color: bisque;
    overflow-y: auto;
    height: 100vh;
}

#sarlavha h2, #sarlavha h1 {
    display: inline-block; /* Elementni inline-block qilib sozlash */
    width: auto; /* Kenglikni avtomatik qilish */
    margin: 10px 0;
    border-radius: 0 10px 10px 0;
    background-color: greenyellow;
    padding: 5px 25px;
    text-align: center;
}

#text {
    margin: 0 auto;
    background-color: bisque;
    margin: 0 5px;
    padding: 10px 40px;
}

/* HTML faylidagi teglar*/

.sayt {
    color: blue;
    text-align: right;
    margin: 0 auto;
}


.Inline {
    margin-left: 10px;
    border: 1px solid #000001;
    border-radius: 6px;
    margin: 6px 2px;
}

.Block {
    
    border: 1px solid #000002;
    border-radius: 6px;
}

.Izoh {
    border-radius: 4px;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    background-color: bisque;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.izoh  {
    margin-top: 5px;
    border-radius: 0 10px 10px 0;
    background-color: greenyellow;
    padding: 2px 6px;
    width: 5em;
    text-align: center;
}

#footer {
    
    padding: 0;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.bottom {
    display: flex;
    margin: 0;
    padding: 20px 0;
    background-color:burlywood;
}

.bottom p {
    margin: 0;
}


#Belgilar ul li{
    list-style-type: none;
    margin: 10px 40px;
    display: inline-block;
    padding: 25px 38px;
    border-radius: 15px;
    background-color: brown;
    text-align: center;
}

#Belgilar ul li a {
    text-decoration: none;
    color: #eee;
}

.side_menu li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}