.Ogohlantirish {
    display: flex; 
    margin: 15px auto; 
    width: 80%;
    border-left: 3px solid rgba(170, 22, 22, 0.8);
    border-radius: var(--elem-radius);
    color: var(--text-secondary);
  }
  
  /* .Eslatma .chap_yon {
    width: 1%; 
    background-color: cyan; 
    border-radius: 15px 0 0 15px;
  } */
  
.Ogohlantirish .Ogohlantirish_tana {
    background-color: rgba(193, 22, 22, 0.3); 
    padding: 15px 12px 15px 36px; 
    border-radius: 0 10px 10px 0;
  }
  
.Ogohlantirish_tana {
      position: relative; /* Konteynerni nisbiy pozitsiyaga qo'yamiz */
      padding: 15px 15px 5px 10px;
      }
  
.Ogohlantirish_tana > p {
    margin: 0;
    padding: 0;
    color: #333;
  }
  
.Ogohlantirish_tana::before {
      content: "i";
      position: absolute;
      top: 17px; /* Belgilangan joylashuv */
      left: 10px; /* Chapdan joylashuv */
      right: 10px; /* O'ngdan joylashuv */
      bottom: 0px;
      background-color: rgba(170, 22, 22, 0.8);
      opacity: 0.6;
      color: white;
      font-weight: bold;
      width: 16px;
      height: 16px;
      border-radius: 2px 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
}