/*elementlardagi marginlarni yo'qotadi*/
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgrey;
}

#bosh {
    background-color:chocolate;
    padding: 10px 0;
    margin: 0 auto;
    
}
.bosh {
    padding: 5px auto;
}
.bosh {
    width: 80%;
    margin: 0 auto;
}

.bosh h1 {
    padding: 0 auto;
    margin: 0;
}

.menyu {
    width: 70%;
    margin: 0 auto;
}

#menyu {
    background-color:dimgray;
    margin: 0 auto;
}
#menyu ul {
    margin: 0;
    padding: 0;
}
#menyu ul li{
    list-style-type: none;
    display: inline;
    border-right: 1px solid #fffff3;
}

#text > p{
    padding: 10px 40px;
}

#menyu ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

#container {
    margin: 0 auto;
    background-color: bisque;
}

.sarlavha {
    display: inline-block;
    width: 9em;
    text-align: center;
}

.sarlavha h2{
    margin-top: 5px;
    border-radius: 0 10px 10px 0;
    background-color: greenyellow;
    padding: 2px 6px;
}

.matn_muharriri  {
    margin-top: 5px;
    border-radius: 0 10px 10px 0;
    background-color: greenyellow;
    padding: 2px 6px;
    width: 8em;
    text-align: center;
}

#atom {
    padding: 10px 50px;
    display: flex;
    margin: 10px 0;
    border-radius: 10px;
}

.atom {
    display: inline;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0px 20px;
    
}

.atom a{
    text-decoration: none; 
    color: green;
    margin: auto;
}

.atom p{
    text-decoration: none; 
    align-items: center;
    color: green;
    padding: 0 25px;
}

#visual {
    padding: 10px 50px;
    display: flex;
    margin: 10px 0;
    border-radius: 10px;
}

.visual {
    display: inline;
    text-align: center;
    padding: 0 20px;
}

.visual a{
    text-decoration: none; 
    color:royalblue;
    margin: 0;
}

.Izoh {
    border-radius: 4px;
    padding: 5px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    background-color: bisque;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.izoh  {
    margin-top: 5px;
    border-radius: 0 10px 10px 0;
    background-color: greenyellow;
    padding: 2px 6px;
    width: 5em;
    text-align: center;
}


/* HTML faylidagi teglar*/

/**
.menyu1 {
    width: 70%;
    margin: 3px auto;
}

.menyu1 ul li{
    margin: 1px 5px;
    list-style-type: none;
    display: inline;
    padding: 2px 10px;
    border-radius: 10px;
    background-color: brown;
}
.menyu1 ul a{
    text-decoration: none;
    color: wheat;
}
**/



