/*elementlardagi marginlarni yo'qotadi*/
body, h1 {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}


body {
    background-color: bisque;
}

#container {
    width: 100%;
    margin: 0 auto;
    font-size: 17px;
    background-color: #f2f2f2;
    overflow-y: auto;
    height: 100vh;
}

.h2  {
    padding: 2px 25px;
    font-weight: 510;
    
}

#text {
    padding: 10px 40px;
    
}

#text > p{
    margin: 14px 10px;
    font-size: 19px;
    line-height: 1.4;
}

#text > p a{
    color: #333;
    text-decoration: none;
}

#text > p a:hover {
    text-decoration: underline;
}
.text1 {
    display: flex; 
    margin: auto; 
    width: 80%;
}

.matn p, .matn h2 {
    padding: 0;
}

#sarlavha h2, #sarlavha h1 {
    display: inline-block; /* Elementni inline-block qilib sozlash */
    width: auto; /* Kenglikni avtomatik qilish */
    margin: 10px 0;
    border-radius: 0 10px 10px 0;
    background-color: #f1ff2f;
    padding: 5px 25px;
    text-align: center;
    box-shadow: 0 0 9px #000333; 
}


.sub-menu {
    display: none; /* Yashirilgan holatda */
    padding-left: 25px; /* Ichkariga siljitish */
    background-color: var(--tugma-uchun);
  }
  
.sub-menu li {
    margin: 0 0 1px 5px;
  }

.fa-book:before {
    content: "\f02d";
}
:root {
    --some-color: #0000ff;
    --javob-uchun: #ff0000;
    --moviy-rang: #323fb2;
    --thead-uchun: #123456;
    --tugma-uchun: #526509;
    --matn-uchun: #726709;
    --kul-rang: rgb(113, 113, 101);
}

.green {
    color: green;
}
.crimson {
    color: crimson;
}

.moviy {
    color: var(--moviy-rang);
}


.havo_chegara {
    border: 1.5px solid #6491FC;  
    width: 80%; 
    margin: 8px 15px; 
    border-radius: 0 0 60px 0; 
    margin-top: 15px;
    padding: 19px 20px;
}

.qora_chegara {
    border: 1.5px solid rgb(110, 120, 101);;  
    width: 70%; 
    margin: 8px auto; 
    border-radius: 6px; 
    margin-top: 15px;
    padding-left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.oddiy_chegara {
    border: 1.5px solid #349;  
    width: 80%; 
    margin: 7px 15px; 
    border-radius: 5px; 
    padding: 10px 20px;
    padding-left: 25px;
}

.chegara_ichida {
    border: 1.5px solid #349;  
    margin: 8px auto; 
    border-radius: 5px; 
    padding: 10px 20px;
    padding-left: 25px;
}

.yashil_maydon {
    border: 1.5px solid #650;  
    width: 70%; 
    margin: 8px auto; 
    margin-top: 15px;
    padding-left: 15px;
}

div p {
    padding: 0;
    margin: 5px 2px;
}


.center-box {
    margin: 10px auto
}

.center-align {
    text-align: center;
}

.maxsus_sozlar, .maxsus {
    border: 2px solid #DFDDDD;;
    border-radius: 4px;
    width: auto;
    padding: 2.5px 2px;
    line-height: 2.9;
}

.maxsus {
    line-height: 1.7;
}

.ul li, .ol li {
    margin: 10px 0px;
    line-height: 1.4; 
}

table {              
    width: 70%;
    border-collapse: collapse;
    margin: 10px auto;
}
table, th, td {
    border: 1px solid black;
    
}


.qisqa {
    width: 75%;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 15px;
}


.kul {
    color: var(--kul-rang);
    font-style: italic;
}

.pre {
    margin: 0px 12px;
    padding-left: 7px;
    text-align: left;
    white-space: pre-line;
    font-family: sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

.sariq {
    color: var(--matn-uchun);
}

.code {
    padding-top: 20px;
    background-color: #321111;
    color: #fff;
    border-radius: 6px;
}

.code pre {
    background-color: #333222;
    padding-left: 20px;
}

.sarlavha ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    align-items: center;
}

.sarlavha ul {
    display: inline-flex;
    width: auto;
    background: greenyellow;
    border-radius: 0 8px 8px 0;
    font-size: 25px;
    box-shadow: 0 0 8px #333;
}

.li_1 {
    padding: 0;
    font-weight: 350;
    border-right: 1px solid bisque;
    box-sizing: border-box;
}

.li_1 a {
    font-weight: 500;
    color: black;
    transition: 0.4s;
    padding: 5px 5px;
}

.li_1 a:hover {
    font-weight: 600;
    color: seagreen;
    transition: 0.4s;
    box-sizing: border-box;
}

.li_2 {
    padding: 5px 15px 5px 16px;
    font-weight: 550; 
}

.li_3 {
    padding: 0;
    font-weight: 350;
    border-left: 1px solid bisque;
    box-sizing: border-box;
}

.li_3 a {
    font-weight: 500;
    color: black;
    transition: 0.4s;
    padding: 5px 5px;
    border-radius: 0 8px 8px 0;
    box-sizing: border-box;
}

.li_3 a:hover {
    font-weight: 600;
    color: seagreen;
    transition: 0.4s;
    box-sizing: border-box;
}

.css {
    background-color: #333;
    color: #fff;
    padding: 0;
    border-radius: 6px;
    margin: 0 auto;
    width: 80%;
}

.css > p {
    padding: 2px 12px;
    margin: 0;
}

.css_tana {
    background-color: #222;
    padding: 0;
    border-radius: 6px;
    margin: 0;
    width: 100%;
}